
    <h1>Página de Verificação</h1>
    <p>Usuario: <%= nome %></p>
    <p>Senha: <%= senha %></p> 
    <p>Senha md5: <%= senhaMD5 %></p> 

    <a href="/" > <span class="btn btn-outline-primary">Retornar</span> </a> 